<div id="spa-root"
     data-is-approver="@((User.IsInRole("Admin") || User.IsInRole("Approver")).ToString().ToLowerInvariant())"
     data-is-admin="@(User.IsInRole("Admin").ToString().ToLowerInvariant())"></div>
