@page "{id?}"
@model EnhancementHub.Web.Pages.Spa.ApprovalQueueModel
@{
    ViewData["Title"] = "Approval Queue";
    ViewData["Breadcrumb"] = "Approvals";
}

<div id="spa-approval-queue-root" data-request-id="@(Model.RequestId?.ToString() ?? string.Empty)"></div>

@section Scripts {
    <script type="module" src="~/spa/react/approval-queue.js" asp-append-version="true"></script>
}
