@page "{id:guid}"
@model EnhancementHub.Web.Pages.Spa.RequestDetailModel
@{
    ViewData["Title"] = "Request";
    ViewData["Breadcrumb"] = "Request";
}

<div id="spa-request-detail-root" data-request-id="@Model.RequestId"></div>

@section Scripts {
    <script type="module" src="~/spa/react/request-detail.js" asp-append-version="true"></script>
}
