@page
@model EnhancementHub.Web.Pages.Spa.SystemMapModel
@{
    ViewData["Title"] = "System Map";
    ViewData["Breadcrumb"] = "System map";
}

<div
    id="spa-system-map-root"
    data-application-id="@(Model.ApplicationId?.ToString() ?? string.Empty)"></div>

@section Scripts {
    <script type="module" src="~/spa/react/system-map.js" asp-append-version="true"></script>
}
