@page
@model EnhancementHub.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Breadcrumb"] = "Dashboard";
}

<div id="spa-dashboard-root"></div>

@section Scripts {
    <script type="module" src="~/spa/react/dashboard.js" asp-append-version="true"></script>
}
